<!DOCTYPE html>
<html lang="en">
<head>
  <title>GCP</title>
</head>
<body>
    <div>
        <h2>
            Start messaging with the bot (type quit to stop)!
        </h2>

        {% for row in arr %}
                {% for elem in row %}
                    {{elem}}
                    <br>
                {% endfor %}
        {% endfor %}

        <form action="/data" method = "POST">
            <p>
                USER: <input type = "text" name = "Question" />
                <input type = "submit" value = "Submit" />
            </p>
        </form>
    </div>
    <div>
        {{pred}}
    </div>
</body>
